<!DOCTYPE html>
<html lang="es">
<head>
    {% include 'comunes/bootstrap.html' %}
    <meta charset="UTF-8">
    <title> DialogFlow Manager </title>
</head>
<body>

<div class="sticky-top">
    {% include 'comunes/navbar.html' %}
    {% include 'comunes/subnavbar.html' %}
</div>

<div class="container mt-5">

    <div class="row">
        <div class="col">
            <h1 class="text-left mb-4"><i class="bi bi-person"></i> Agente</h1>
        </div>
        <div class="col-auto justify-content-md-end mx-5">
            <a class="btn btn-dark rounded-circle" href="{{ url_for('editar_agente', chat=chat) }}"><i
                    class="bi bi-gear"></i></a>
        </div>
    </div>

    {% for k, v in agente.items() %}
    {% if k == 'displayName' or k == 'shortDescription' or k == 'description' or k == 'language' or k == 'examples' %}
    <div class="row mx-5">
        <div class="col mx-5">
            <div class="card border-warning mb-2 w-75 rounded-1 shadow">
                <div class="card-header border-warning bg-warning-subtle text-dark bg-opacity-50">{{ k }}</div>
                {% if v != None %}
                <div class="card-body">
                    <p class="card-text">{{ v | default('') | replace('\n', '<br>') | safe }} </p>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}

</div>

<div class="container mt-5">
    {% include 'comunes/footer.html' %}
</div>

</body>
</html>