<!DOCTYPE html>
<html lang="es">
<head>
    {% include 'comunes/bootstrap.html' %}
    <meta charset="UTF-8">
    <title> DialogFlow Manager </title>
</head>
<body>

<div class="sticky-top">
    {% include 'comunes/navbar.html' %}
    {% include 'comunes/subnavbar.html' %}
</div>

<div class="container mt-5">
    <h1 class="text-left mb-3"><i class="bi bi-at"></i> Entidades</h1>

    {% if entidades != None %}


    <div class="list-group mt-3 mx-5">
        {% for e in entidades %}
        <a class="mb-1 mx-5 btn btn-outline-warning btn-block list-group-item shadow w-75 rounded-2"
           href="{{ url_for('get_entidad', chat=chat, entidad=e) }}">@{{ e[0].replace(".json", "") }}
        </a>
        {% endfor %}
    </div>


    {% else %}
    <p>No existen entidades</p>
    {% endif %}
</div>

<div class="container mt-5">
    {% include 'comunes/footer.html' %}
</div>

</body>
</html>