<!DOCTYPE html>
<html lang="es">
<head>
    {% include 'comunes/bootstrap.html' %}
    <meta charset="UTF-8">
    <title> DialogFlow Manager </title>
</head>
<body>

<div class="sticky-top">
    {% include 'comunes/navbar.html' %}
    {% include 'comunes/subnavbar.html' %}
</div>

<div class="container mt-4 mb-4">
    <div class="row">
        <div class="col">
            <h3 class="ms-4 mb-4">Datos del intent: {{ intent.replace(".json", "") }}</h3>
        </div>
        <div class="col-auto justify-content-md-end">
            <a class="btn btn-outline-danger" href="#">Modificar</a>
        </div>
    </div>

    {% for k, v in inte.items() %}
    <div class="row">
        <div class="col">
            <div class="card border-success mb-3">
                <div class="card-header border-success bg-success text-dark bg-opacity-50">{{ k }}</div>
                <div class="card-body">
                    {% if v is sequence and not v is string %}
                        {% for r in v %}
                        <p>{{ r }}</p>
                        {% endfor %}
                    {% else %}
                    <h6 class="card-text">{{ v | default('') | replace('\n', '<br>') | safe }} </h6>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="container mt-5">
    {% include 'comunes/footer.html' %}
</div>
</body>
</html>