<!DOCTYPE html>
<html lang="es">
<head>
    {% include 'comunes/bootstrap.html' %}
    <meta charset="UTF-8">
    <title> DialogFlow Manager </title>
</head>
<body>

<div class="sticky-top">
    {% include 'comunes/navbar.html' %}
    {% include 'comunes/subnavbar.html' %}
</div>

<div class="container mt-4 mb-4">
    <div class="row">
        <div class="col">
            <h3 class="ms-4 mb-4">Datos del intent: {{ intent.replace(".json", "") }}</h3>
        </div>
        <div class="col-auto justify-content-md-end mx-5">
            <a class="btn btn-dark rounded-circle" href="#"><i class="bi bi-gear"></i></a>
        </div>
    </div>

    {% for k, v in inte.items() %}
    <div class="row">
        <div class="col">
            <div class="card border-success mb-3">
                {{ inte }}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="container mt-5">
    {% include 'comunes/footer.html' %}
</div>
</body>
</html>