<!DOCTYPE html>
<html lang="es">
{% include 'comunes/cabecera.html' %}
<body>

<! –– Navbar superior igual que en la página principal ––>
<div class="sticky-top">
    {% include 'comunes/navbar.html' %}
</div>

<! –– Contenido de la página ––>
<div class="container mt-5 mx-5">
    <div class="container mx-5 text-center">
        <img src="{{ url_for('static', filename='imagenes/CSLogoCompleto.png') }}" alt="" width="65%">
    </div>

    <div class="container mx-5 mt-5">
        <p>Trabajo de Fin de Grado - Ingeniería Informática</p>
        <p>
            Interfaz web dedicada a la gestión de los chatbots de DialogFlow
        </p>
    </div>


    <div class="container mx-5 mt-4">
        <h1>Participantes y Colaboradores</h1>
        <p class="mx-5">
            <li>Alumna: Claudia Landeira Viñuela</li>
            <li>Tutor: Raúl Marticorena Sánchez</li>
        </p>
    </div>


    <div class="container mx-5 mt-4">
        <h1>Contactos y sugerencias</h1>
        <p>Si se desea realizar alguna consulta u aportación, enviar un correo electrónico a las siguientes
            direcciones:</p>
        <a class="btn btn-outline-warning"
           href="mailto:clv1003@alu.ubu.es?Subject=Sugerencia para el proyecto Dialogflow">
            Claudia Landeira Viñuela</a>

    </div>
</div>

<div class="container mt-5">
    {% include 'comunes/footer.html' %}
</div>
</body>
</html>