<!DOCTYPE html>
<html lang="es">
{% include 'comunes/cabecera.html' %}
<body>

<nav class="navbar navbar-expand-lg navbar-dark shadow" style="background-color: #333366">
    <div class="container-fluid">
        <a class="navbar-brand mx-2" href="/admin">
            <img src="{{ url_for('static', filename='imagenes/CSLogoM.png') }}" alt="" class="d-inline-block align-text-top">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="nav-item ms-3">
            <a href="/logout" class="btn btn-danger btn-sm"
               data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Cerrar sesión">
                <i class="bi bi-x-lg"></i></a>
        </div>
    </div>
</nav>

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h3 class="text-left"><i class="bi bi-person"></i> {{ usuario }} </h3>
        </div>
        <div class="col-auto justify-content-md-end mx-5">
            <form class="d-flex ms-5" enctype="multipart/form-data" method="get"
                action="{{ url_for('buscar_usuarios') }}">
                <input class="form-control me-3" type="text" name="busqueda" placeholder="Buscar">
                <button class="btn btn-sm" type="submit"><i class="bi bi-search"></i></button>
            </form>
        </div>
    </div>
</div>

<div class="container mt-5">
    <h1 class="text-left mt-5"><i class="bi bi-person-dash-fill"></i> Eliminar usuarios </h1>

    <div class="list-group mt-5 mx-5">
        {% for dir in datos %}
        {% if dir != "administrador@administrador.com" %}
        <div class="row mx-5">
            <div class="col border-warning mb-2 rounded-3 shadow" style="height: 10%">
                <div class="card-body text-dark text-center">{{ dir }}</div>
            </div>
            <div class="col-auto justify-content-md-end mx-4">
                <form action="{{ url_for('removeuser', chat=dir) }}" method="post">
                    <button type="submit" class="btn btn-sm" style="color: darkred"
                            data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-title="Eliminar"
                            data-bs-content="Esta acción no se puede deshacer"><i class="bi bi-x-lg"></i> Eliminar
                    </button>
                </form>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

<div class="container mt-5">
    {% include 'comunes/footer.html' %}
</div>

<script src="{{ url_for('static', filename='js/popover.js') }}"></script>

</body>
</html>