<!DOCTYPE html>
<html lang="es">
{% include 'comunes/cabecera.html' %}
<body>

<div class="sticky-top">
    {% include 'comunes/navbar.html' %}
</div>

{% if alerta %}
<div class="alert alert-primary" role="alert">
    <h4 class="alert-heading mx-5">El archivo se ha traducido</h4>
    <p class="mx-5">Lo podrás encontrar en los <em>Archivos disponibles</em></p>
</div>
{% endif %}

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h3 class="text-left"><i class="bi bi-person"></i> {{ usuario }} </h3>
        </div>
        <div class="col-auto justify-content-md-end mx-5">
            <form class="d-flex ms-5" enctype="multipart/form-data" method="get"
                  action="/buscar_chatbots">
                <input class="form-control me-3" type="text" name="busqueda" placeholder="Buscar">
                <button class="btn btn-sm" type="submit"><i class="bi bi-search"></i></button>
            </form>
        </div>
    </div>
</div>

<!-- Contenido de la página de inicio -->
<div class="container mt-5">

    <div class="row">
        <div class="col">
            <h1 class="text-left mt-5"><i class="bi bi-folder2-open"></i> Archivos disponibles ({{ datos|length }})</h1>
        </div>

        <div class="col-auto mt-5 justify-content-md-end mx-5">
            <a href="/importar-exportar" class="btn btn-primary btn-sm"><i class="bi bi-plus-lg"></i></a>
        </div>
    </div>

    <div class="list-group mt-5 mx-5">

        {% for dir in datos %}
        <div class="row">
            <div class="col">
                <a class="mb-1 btn btn-outline-warning btn-block list-group-item rounded-3 shadow"
                   href="{{ url_for('get_archivos', chat=dir) }}">{{ dir }}
                </a>
            </div>

            <div class="col-auto justify-content-md-end mx-4 mt-1">
                <form action="{{ url_for('remove_chatbot', chat=dir) }}" method="post">
                    <button type="submit" class="btn btn-outline-danger btn-sm"
                            data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-title="Eliminar" data-bs-content="Esta acción no se puede deshacer">
                        <i class="bi bi-x-lg"></i>
                    </button>
                </form>
            </div>


        </div>
        {% endfor %}
    </div>

</div>

<div class="container mt-5">
    {% include 'comunes/footer.html' %}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'));
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
        return new bootstrap.Popover(popoverTriggerEl);
    });
</script>

</body>
</html>