<!DOCTYPE html>
<html lang="es">
{% include 'comunes/cabecera.html' %}
<body>

<div class="sticky-top">
    {% include 'comunes/navbar.html' %}
</div>

{% if alerta %}
<div class="alert alert-primary" role="alert">
    <h4 class="alert-heading mx-5">El archivo se ha descargado</h4>
    <p class="mx-5">Lo podrás encontrar en tu carpeta de <em>Descargas</em> local</p>
</div>
{% endif %}

{% if alertaImportacion is false %}
<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading mx-5">El archivo no se ha podido importar</h4>
    <p class="mx-5">El archivo .zip introducido no tiene la estructura adecuada o no es un archivo .zip</p>
</div>
{% endif %}

{% if infoImportacion %}
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading mx-5">El archivo se ha importado</h4>
    <p class="mx-5">El archivo .zip tiene la estructura correcta.</p>
</div>
{% endif %}

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h3 class="text-left"><i class="bi bi-person"></i> {{ usuario }} </h3>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">

        <div class="col-md-6">
            <div class="container mt-5">
                <h1 class="text-center mb-4">Importar archivo .zip</h1>

                <form action="/subir_archivo" method="post" enctype="multipart/form-data">

                    <div class="mb-3">
                        <label for="archivo_zip" class="form-label">Selecciona un arhivo .zip:</label>
                        <input type="file" class="form-control shadow" id="archivo_zip" name="archivo_zip" required>
                    </div>

                    <button type="submit" class="btn btn-outline-warning text-black shadow">
                        <i class="bi bi-arrow-bar-up"></i> Importar
                    </button>

                </form>
            </div>
        </div>

        <div class="col-md-6">
            <div class="container mt-5">
                <h1 class="text-center mb-4">Comprimir archivo .zip</h1>
                <div class="list-group mt-5">
                    {% for dir in datos %}
                    <a class="mb-1 btn btn-outline-warning btn-block list-group-item shadow"
                       href="{{ url_for('obtener_zip', chat=dir) }}"> {{ dir }} </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    {% include 'comunes/footer.html' %}
</div>

<script src="{{ url_for('static', filename='js/popover.js') }}"></script>

</body>
</html>