<!DOCTYPE html>
<html lang="es">
{% include 'comunes/cabecera.html' %}
<body>

<!-- Página principal de la visualización del informe de los intents -->
<!-- Author: Claudia Landeira Viñuela -->

<div class="sticky-top">
    {% include 'comunes/navbar.html' %}
    {% include 'comunes/subnavbar.html' %}
</div>

<div class="container mt-5">
    <h3 class="text-left"><i class="bi bi-person"></i> {{ usuario }} </h3>
</div>

<div class="container mt-3">
    <h3 class="text-left"><i class="bi bi-card-text"> Informe {{ chat }}</i></h3>
</div>

<div class="container mt-4">
    {% for d in datos %}
    <div class="card mx-5 mb-3 border-warning mb-2 rounded-1 shadow">
        <div class="m-5 row">
            <div class="col mx-5">

                <a class="btn text-left fw-bold mb-4" style="text-decoration: none; font-size: 22px"
                   href="{{ url_for('get_intent', chat=chat, intent=intents[loop.index -1]) }}">
                    <i class="bi bi-link-45deg" style="color: blueviolet"></i> {{ d[0]['name'] }}</a> <br class="mb-4">

                {% for text in d[1] %}
                {% set frase = [] %}
                {% for t in text['data'] %}
                {% set _ = frase.append(t['text']) %}
                {% endfor %}

                <table class="table table-auto mx-5">
                    <tbody class="px-5 mx-5">
                    <tr>
                        <i class="bi bi-quote"></i> {{ frase | join(' ') }}
                    </tr>
                    </tbody>
                </table>

                {% endfor %}
            </div>

            {% if 'speech' in d[0]["responses"][0]["messages"][0] %}
            {% set speech = d[0]["responses"][0]["messages"][0]['speech'] %}
            <div class="col mx-5">
                <h5 class="text-left fw-bold fst-italic mb-4">Respuestas</h5>
                {% for s in speech %}
                <table class="table table-auto">
                    <tbody class="mx-5">
                    <tr>
                        <i class="bi bi-quote"></i> {{ s }}
                    </tr>
                    </tbody>
                </table>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

<div class="container mt-5">
    {% include 'comunes/footer.html' %}
</div>

<script src="{{ url_for('static', filename='js/popover.js') }}"></script>

</body>
</html>