<!DOCTYPE html>
<html lang="es">
{% include 'comunes/cabecera.html' %}
<body>

<div class="sticky-top">
    {% include 'comunes/navbar.html' %}
    {% include 'comunes/subnavbar.html' %}
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h3 class="text-left"><i class="bi bi-person"></i> {{ usuario }} </h3>
        </div>
        <div class="col-auto justify-content-md-end mx-5">
            <form class="d-flex ms-5" enctype="multipart/form-data" method="get"
                  action="{{ url_for('buscar_intent', chat=chat, intent=intent) }}">
                <input class="form-control me-3" type="text" name="busqueda" placeholder="Buscar">
                <button class="btn btn-sm" type="submit"><i class="bi bi-search"></i></button>
            </form>
        </div>
    </div>
</div>

<div class="container mt-4">
    <h3 class="text-left mb-4"><i class="bi bi-chat-dots"></i>Intent actual: {{ intent.replace(".json", "") }}</h3>

    <div class="row mx-5 mb-3">
        <div class="col mx-5">
            <div class="card border-warning mb-2 rounded-1 shadow">
                <div class="card-header border-warning bg-warning-subtle text-dark fw-bold bg-opacity-50"> name</div>
                <div class="card-body">
                    <form enctype="multipart/form-data" method="post"
                          action="{{ url_for('actualizar_json_int', chat=chat, intent=intent, clave='name' ) }}">
                        <input type="text" class="form-control" value="{{ inte[0]['name'] }}" name="atributo">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row mx-5 mb-3">
        <div class="col mx-5">
            <div class="card border-warning mb-2 rounded-1 shadow">
                <div class="card-header border-warning bg-warning-subtle text-dark fw-bold bg-opacity-50"> response
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-1 text-dark text-center fw-bold">action</div>
                        <form class="col" enctype="multipart/form-data" method="post"
                              action="{{ url_for('actualizar_action', chat=chat, intent=intent) }}">
                            <input type="text" class="form-control" value="{{ inte[0]['responses'][0]['action'] }}"
                                   name="atributo">
                        </form>
                    </div>

                    {% if inte[0]['responses'][0]['parameters'] %}
                    <table class="table table-auto">
                        <thead>
                        <tr>
                            <th class="text-center">name</th>
                            <th class="text-center">dataType</th>
                            <th class="text-center">value</th>
                        </tr>
                        </thead>
                        {% for i in inte[0]['responses'][0]['parameters'] %}
                        <tbody>
                        <tr>
                            <td class="text-center">
                                <form enctype="multipart/form-data" method="post"
                                      action="{{ url_for('actualizar_parameters', chat=chat, intent=intent, subclave='name') }}">
                                    <input type="text" class="form-control"
                                           value="{{ i['name'] }}"
                                           name="atributo">
                                </form>
                            </td>
                            <td class="text-center">
                                <form enctype="multipart/form-data" method="post"
                                      action="{{ url_for('actualizar_parameters', chat=chat, intent=intent, subclave='dataType') }}">
                                    <input type="text" class="form-control"
                                           value="{{ i['dataType'] }}"
                                           name="atributo">
                                </form>
                            </td>
                            <td class="text-center">
                                <form enctype="multipart/form-data" method="post"
                                      action="{{ url_for('actualizar_parameters', chat=chat, intent=intent, subclave='value') }}">
                                    <input type="text" class="form-control"
                                           value="{{ i['value'] }}"
                                           name="atributo">
                                </form>
                            </td>
                            <td class="text-center col-1">
                                <form action="{{ url_for('remove_parameters', chat=chat, intent=intent, id=i['id']) }}"
                                      method="post">
                                    <button type="submit" class="btn btn-outline-danger btn-sm"
                                            data-bs-toggle="popover" data-bs-trigger="hover focus"
                                            data-bs-title="Eliminar" data-bs-content="Esta acción no se puede deshacer">
                                        <i class="bi bi-x-lg"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                    {% else %}
                    <p class="text-left ms-5 mt-2"> No existen parametros </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row mx-5 mb-3">
        <div class="col mx-5">
            <div class="card border-warning mb-2 rounded-1 shadow">
                <div class="card-header border-warning bg-warning-subtle text-dark fw-bold bg-opacity-50"> data
                </div>
                <div class="card-body">
                    {% for i in inte[1] %}
                    <div class="card border-warning mb-3 mx-2 rounded-1">

                        <div class="card-header border-warning bg-warning-subtle bg-opacity-50 row mx-1">
                            <div class="col text-dark fw-bold"> {{i['id']}}</div>

                            <div class="col-1">
                                <form action="{{ url_for('remove_data', chat=chat, intent=intent, id=i['id']) }}"
                                      method="post">
                                    <button type="submit" class="btn btn-outline-danger btn-sm"
                                            data-bs-toggle="popover" data-bs-trigger="hover focus"
                                            data-bs-title="Eliminar"
                                            data-bs-content="Esta acción no se puede deshacer">
                                        <i class="bi bi-x-lg"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                        {% for j in i['data'] %}
                        <div class="card-body">
                            {% if j|length == 2 %}
                            <div class="row">
                                <div class="col">
                                    <form enctype="multipart/form-data" method="post"
                                          action="{{ url_for('actualizar_data', chat=chat, intent=intent, old=j['text'], tipo='text') }}">
                                        <input type="text" class="form-control" value="{{ j['text'] }}" name="atributo">
                                    </form>
                                </div>


                            </div>

                            {% else %}
                            {% if j['meta'] %}
                            <table class="table table-auto">
                                <thead>
                                <tr>
                                    <th class="text-center">text</th>
                                    <th class="text-center">meta</th>
                                    <th class="text-center">alias</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="text-center">
                                        <form enctype="multipart/form-data" method="post"
                                              action="{{ url_for('actualizar_data', chat=chat, intent=intent, old=j['text'], tipo='text') }}">
                                            <input type="text" class="form-control" value="{{ j['text'] }}"
                                                   name="atributo">
                                        </form>
                                    </td>
                                    <td class="text-center">
                                        <form enctype="multipart/form-data" method="post"
                                              action="{{ url_for('actualizar_data', chat=chat, intent=intent, old=j['meta'], tipo='meta') }}">
                                            <input type="text" class="form-control" value="{{ j['meta'] }}"
                                                   name="atributo">
                                        </form>
                                    </td>
                                    <td class="text-center">
                                        <form enctype="multipart/form-data" method="post"
                                              action="{{ url_for('actualizar_data', chat=chat, intent=intent, old=j['alias'], tipo='alias') }}">
                                            <input type="text" class="form-control" value="{{ j['alias'] }}"
                                                   name="atributo">
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            {% endif %}
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="row mx-5">
        <div class="col mx-5">
            <div class="card border-warning mb-2 rounded-1 shadow">
                <div class="card-header border-warning bg-warning-subtle text-dark fw-bold bg-opacity-50"> messages
                </div>
                <div class="card-body">
                    <div class="mx-5 mb-4">
                        <h4 class="text-left mb-2"><i class="bi bi-plus-circle"></i> Añadir speech</h4>
                        <div class="row mx-5">
                            <div class="col">
                                <form class="card-body" enctype="multipart/form-data" method="post"
                                      action="{{ url_for('add_messages', chat=chat, intent=intent) }}">
                                    <div class="row">
                                        <div class="col">
                                            <label for="speach" class="form-label">Speech:</label>
                                            <input type="text" class="form-control shadow" id="speach" name="speach">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    {% if inte[0]['responses'][0]['messages'] %}
                    <table class="table table-auto">
                        <thead>
                        <tr>
                            <th class="text-center">speech</th>
                        </tr>
                        </thead>
                        {% for i in inte[0]['responses'][0]['messages'] %}
                        {% for j in i['speech'] %}
                        <tbody>
                        <tr>
                            <td class="mx-5 text-left">
                                <form enctype="multipart/form-data" method="post"
                                      action="{{ url_for('actualizar_messages', chat=chat, intent=intent, speachOrg=j ) }}">
                                    <input type="text" class="form-control" value="{{ j }}" name="atributo">
                                </form>
                            </td>

                            <td class="text-center col-1">
                                <form action="{{ url_for('remove_messages', chat=chat, intent=intent, speach=j ) }}"
                                      method="post">
                                    <button type="submit" class="btn btn-outline-danger btn-sm"
                                            data-bs-toggle="popover" data-bs-trigger="hover focus"
                                            data-bs-title="Eliminar" data-bs-content="Esta acción no se puede deshacer">
                                        <i class="bi bi-x-lg"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                        {% endfor %}
                        {% endfor %}
                    </table>
                    {% else %}
                    <p class="text-left ms-5 mt-2"> No existen parametros </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

</div>

<div class="container mt-5">
    {% include 'comunes/footer.html' %}
</div>

<script src="{{ url_for('static', filename='js/popover.js') }}"></script>

</body>
</html>
