<!DOCTYPE html>
<html lang="es">
{% include 'comunes/cabecera.html' %}
<body>

<div class="sticky-top">
    {% include 'comunes/navbar.html' %}
    {% include 'comunes/subnavbar.html' %}
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h3 class="text-left"><i class="bi bi-person"></i> {{ usuario }} </h3>
        </div>
        <div class="col-auto justify-content-md-end mx-5">
            <form class="d-flex ms-5" enctype="multipart/form-data" method="get"
                  action="{{ url_for('buscar_intent', chat=chat, intent=intent) }}">
                <input class="form-control me-3" type="text" name="busqueda" placeholder="Buscar">
                <button class="btn btn-outline-dark rounded-circle" type="submit"><i class="bi bi-search"></i></button>
            </form>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h3 class="text-left mb-4"><i class="bi bi-chat-dots"></i>
                Intent actual: {{ intent.replace(".json", "") }}
            </h3>
        </div>
        <div class="col text-end mx-5">
            <a href="{{ url_for('report', chat=chat, intent=intent) }}" class="btn btn-primary">
                <i class="bi bi-card-text"></i> Reporte</a>
        </div>
    </div>


    <div class="card mx-5 mb-3 border-warning mb-2 rounded-1 shadow">
        <div class="card-header border-warning bg-warning-subtle text-dark fw-bold bg-opacity-50"> name</div>
        <div class="card-body">
            <form enctype="multipart/form-data" method="post"
                  action="{{ url_for('actualizar_json_int', chat=chat, intent=intent, clave='name' ) }}">
                <input type="text" class="form-control" value="{{ inte[0]['name'] }}" name="atributo">
            </form>
        </div>
    </div>


    <div class="row mx-5">
        <div class="col mx-5">
            <div class="card border-warning mb-2 rounded-1 shadow">
                <div class="card-header border-warning bg-warning-subtle text-dark fw-bold bg-opacity-50"> response
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-1 text-dark text-center fw-bold">action</div>
                        <form class="col" enctype="multipart/form-data" method="post"
                              action="#">
                            <input type="text" class="form-control" value="{{ inte[0]['responses'][0]['action'] }}"
                                   name="atributo">
                        </form>
                    </div>

                    {% if inte[0]['responses'][0]['parameters'] %}
                    <table class="table table-auto">
                        <thead>
                        <tr>
                            <th class="text-center">name</th>
                            <th class="text-center">dataType</th>
                            <th class="text-center">value</th>
                        </tr>
                        </thead>
                        {% for i in inte[0]['responses'][0]['parameters'] %}
                        <tbody>
                        <tr>
                            <td class="text-center">
                                <form enctype="multipart/form-data" method="post"
                                      action="{{ url_for('actualizar_responses', chat=chat, intent=intent, subclave='name') }}">
                                    <input type="text" class="form-control"
                                           value="{{ i['name'] }}"
                                           name="atributo">
                                </form>
                            </td>
                            <td class="text-center">
                                <form enctype="multipart/form-data" method="post"
                                      action="{{ url_for('actualizar_responses', chat=chat, intent=intent, subclave='dataType') }}">
                                    <input type="text" class="form-control"
                                           value="{{ i['dataType'] }}"
                                           name="atributo">
                                </form>
                            </td>
                            <td class="text-center">
                                <form enctype="multipart/form-data" method="post"
                                      action="{{ url_for('actualizar_responses', chat=chat, intent=intent, subclave='value') }}">
                                    <input type="text" class="form-control"
                                           value="{{ i['value'] }}"
                                           name="atributo">
                                </form>
                            </td>
                            <td class="text-center col-1">
                                <form action="{{ url_for('remove_responses', chat=chat, intent=intent, id=i['id']) }}"
                                      method="post">
                                    <button type="submit" class="btn btn-outline-danger"><i
                                            class="bi bi-x-lg"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                    {% else %}
                    <p class="text-left ms-5 mt-2"> No existen parametros </p>
                    {% endif %}

                    <!--
                    <div>
                        <p class="text-left mb-2"><i class="bi bi-plus-circle"></i> Añadir entry</p>
                        <div class="row">
                            <div class="col">
                                <form class="card-body" enctype="multipart/form-data" method="post"
                                      action="{{ url_for('add_responses', chat=chat, intent=intent, responses='responses', parameters='parameters') }}">
                                    <div class="row">
                                        <div class="col">
                                            <label for="name" class="form-label">Name:</label>
                                            <input type="text" class="form-control" id="name" name="name">
                                        </div>
                                        <div class="col">
                                            <label for="dataType" class="form-label">Data Type:</label>
                                            <input type="text" class="form-control" id="dataType" name="dataType">
                                        </div>
                                        <div class="col">
                                            <label for="value" class="form-label">Value:</label>
                                            <input type="text" class="form-control" id="value" name="value">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    -->
                </div>
            </div>
        </div>
    </div>


    <div class="row mx-5">
        <div class="col mx-5">
            <div class="card border-warning mb-2 rounded-1 shadow">
                <div class="card-header border-warning bg-warning-subtle text-dark fw-bold bg-opacity-50"> data
                </div>
                <div class="card-body">
                    {% for i in inte[1] %}
                    <div class="card border-warning mb-3 mx-2 rounded-1">

                        {% for j in i['data'] %}
                        <div class="card-body">
                            {% if j|length == 2 %}
                            <div class="row">
                                <div class="col">
                                    <form enctype="multipart/form-data" method="post"
                                          action="{{ url_for('actualizar_data', chat=chat, intent=intent, old=j['text'], tipo='text') }}">
                                        <input type="text" class="form-control"
                                               value="{{ j['text'] }}"
                                               name="atributo">
                                    </form>
                                </div>
                                <div class="col-1">
                                    <form action="{{ url_for('remove_data', chat=chat, intent=intent, id=i['id']) }}" method="post">
                                        <button type="submit" class="btn btn-outline-danger"><i class="bi bi-x-lg"></i>
                                        </button>
                                    </form>
                                </div>

                            </div>

                            {% else %}
                            {% if j['meta'] %}
                            <table class="table table-auto">
                                <thead>
                                <tr>
                                    <th class="text-center">text</th>
                                    <th class="text-center">meta</th>
                                    <th class="text-center">alias</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="text-center">
                                        <form enctype="multipart/form-data" method="post"
                                              action="{{ url_for('actualizar_data', chat=chat, intent=intent, old=j['text'], tipo='text') }}">
                                            <input type="text" class="form-control"
                                                   value="{{ j['text'] }}"
                                                   name="atributo">
                                        </form>
                                    </td>
                                    <td class="text-center">
                                        <form enctype="multipart/form-data" method="post"
                                              action="{{ url_for('actualizar_data', chat=chat, intent=intent, old=j['meta'], tipo='meta') }}">
                                            <input type="text" class="form-control"
                                                   value="{{ j['meta'] }}"
                                                   name="atributo">
                                        </form>
                                    </td>
                                    <td class="text-center">
                                        <form enctype="multipart/form-data" method="post"
                                              action="{{ url_for('actualizar_data', chat=chat, intent=intent, old=j['alias'], tipo='alias') }}">
                                            <input type="text" class="form-control"
                                                   value="{{ j['alias'] }}"
                                                   name="atributo">
                                        </form>
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                            {% endif %}
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


</div>

<div class="container mt-5">
    {% include 'comunes/footer.html' %}
</div>

</body>
</html>
