<!DOCTYPE html>
<html lang="es">
{% include 'comunes/cabecera.html' %}
<body>

<style>
    .card {
        border: none;
        background: #E1BEE7;
        align-content: center;
        transition: all 0.3s ease;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    }

    .card:hover {
        transform: translateY(-10px);
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    }
</style>

<div class="sticky-top">
    {% include 'comunes/navbar.html' %}
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h3 class="text-left"><i class="bi bi-person"></i> {{ usuario }} </h3>
        </div>
        <div class="col-auto justify-content-md-end mx-5">
            <form class="d-flex ms-5" role="search">
                <input class="form-control me-3" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-outline-dark rounded-circle" type="submit"><i class="bi bi-search"></i></button>
            </form>
        </div>
    </div>
</div>

<div class="container mt-5 my-5">
    <h1 class="text-left mb-3"><i class="bi bi-files"></i> Menu {{ chat }}</h1>

    <div class="container mt-5 my-5">
        <div class="row">
            <div class="col-md-4 my-5">
                <a href="{{ url_for('get_agente', chat=chat) }}" class="card" style="text-decoration:none;">
                    <div class="card-body text-center">
                        <h1><i class="bi bi-person-vcard"></i> Agente</h1>
                    </div>
                </a>
            </div>
            <div class="col-md-4 my-5">
                <a href="{{ url_for('get_entidades', chat=chat) }}" class="card" style="text-decoration:none;">
                    <div class="card-body text-center">
                        <h1><i class="bi bi-at"></i> Entidades</h1>
                    </div>
                </a>
            </div>
            <div class="col-md-4 my-5">
                <a href="{{ url_for('get_intents', chat=chat) }}" class="card" style="text-decoration:none;">
                    <div class="card-body text-center">
                        <h1><i class="bi bi-chat-dots"></i> Intents</h1>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    {% include 'comunes/footer.html' %}
</div>


</body>
</html>