<!-- Sub-barra de navegacion -->
<nav class="navbar navbar-expand-lg navbar-light bg-dark bg-opacity-25">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <a class="navbar-brand me-3">
                {{ chat }}
            </a>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link me-1"
                            href="{{ url_for('get_archivos', chat=chat) }}">Archivos
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link me-1"
                            href="{{ url_for('get_agente', chat=chat) }}">Agente
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link me-1"
                            href="{{ url_for('get_entidades', chat=chat) }}">Entidades
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link me-1"
                            href="{{ url_for('get_intents', chat=chat) }}">Intents
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>