@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
@import "fondo.css";

a{
  display: flex;
  justify-content: center;
}

img {
  width: 50%;
  height: 50%;
  margin-top: 10%;
}

.contenedor {
    align-items: center;
    justify-content: center;
    align-content: center;
}

/*https://codepen.io/yuhomyan/details/OJMejWJ*/
.boton {
    width: 300px;
    height: 80px;
    color: #000000;
    margin: 7% 10% 0 15% ;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
	font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: center;
    display: inline-block;
    border-radius: 8px;
    box-shadow:inset 2px 2px 2px 0 rgba(255,255,255,.5),
        7px 7px 20px 0 rgba(0,0,0,.1),
        4px 4px 5px 0 rgba(0,0,0,.1);
    outline: none;
    background: rgb(238, 108, 1);
    background: linear-gradient(0deg, rgb(238, 108, 1) 0%, rgb(253, 151, 1) 100%);
    border: none;
}
.boton:before{
  height: 0;
  width: 2px;
}

.boton:hover {
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5),
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}