@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
@import "fondo.css";

.contenedor {
  align-items: center;
  justify-content: center;
  align-content: center;
}

a {
  display: flex;
  justify-content: center;
}

img {
  width: 30%;
  height: 30%;
  margin-top: 30px;
}
.caja {
  align-items: center;
  justify-content: center;

  padding: 0 100px 40px ;
  width: max-content;
  height: auto;
  margin: 80px auto;
}

/*https://codepen.io/chris__sev/details/LYOyjY*/
input {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
}

input:focus {
  outline: none;
}

label {
  color:#999;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

input:focus ~ label, input:valid ~ label {
  top:-20px;
  font-size:14px;
  color: #525252;
}

.grupo {
  position: relative;
  margin-bottom: 45px;
}

.brillo {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

input:focus ~ .brillo {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

.linea {
  position:relative;
  display:block;
  width:300px;
}

.linea:before, .linea:after {
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background: #f8a123;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

.linea:after {
  right: 50%;
}
.linea:before {
  left: 50%;
}

input:focus ~ .linea:before, input:focus ~ .linea:after {
  width:50%;
}

@-webkit-keyframes inputHighlighter {
  from { background:#f8a123; }
  to  { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#f8a123; }
  to  { width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#f8a123; }
  to  { width:0; background:transparent; }
}

button {
  margin: 10px auto auto 30px;
}

/*https://codepen.io/yuhomyan/details/OJMejWJ*/
.submit {
  width: auto;
  height: auto;
  color: #000000;
  padding: 10px 25px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  border-radius: 8px;
  box-shadow:inset 2px 2px 2px 0 rgba(255,255,255,.5),
   7px 7px 20px 0 rgba(0,0,0,.1),
   4px 4px 5px 0 rgba(0,0,0,.1);
  outline: none;
  background: rgb(238, 108, 1);
  background: linear-gradient(0deg, rgb(238, 108, 1) 0%, rgb(253, 151, 1) 100%);
  border: none;
}
.submit:before{
  height: 0;
  width: 2px;
}

.submit:hover {
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5),
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

ul {
  margin: auto auto auto 10%;
}
.wrapper {
  display: inline-flex;
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 20px;
  width: 20px;
  height: 20px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877F2;
  color: #ffffff;
}

.wrapper .google:hover,
.wrapper .google:hover .tooltip,
.wrapper .google:hover .tooltip::before {
  background: #CD201F;
  color: #ffffff;
}









