<!DOCTYPE html>
<html lang="es">
<head>
    {% include 'comunes/bootstrap.html' %}
    <meta charset="UTF-8">
    <title> DialogFlow Manager </title>
</head>

<body>

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status" aria-hidden="true"></div>
    <div class="spinner-grow text-secondary" style="width: 3rem; height: 3rem;" role="status" aria-hidden="true"></div>
    <div class="spinner-grow text-success" style="width: 3rem; height: 3rem;" role="status" aria-hidden="true"></div>
    <div class="spinner-grow text-danger" style="width: 3rem; height: 3rem;" role="status" aria-hidden="true"></div>
    <div class="spinner-grow text-warning" style="width: 3rem; height: 3rem;" role="status" aria-hidden="true"></div>
    <div class="spinner-grow text-info" style="width: 3rem; height: 3rem;" role="status" aria-hidden="true"></div>
    <div class="spinner-grow text-dark" style="width: 3rem; height: 3rem;" role="status" aria-hidden="true"></div>
</div>

<script>

    setTimeout(function () {
        window.location.href = '/home';
    }, 4000)

</script>

</body>

</html>