<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'comunes/bootstrap.html' %}
    <meta charset="UTF-8">

    <title> DialogFlow Manager </title>
</head>
<body>

<div class="bg-light d-flex justify-content-center align-items-center vh-100">
    <div class="bg-white p-5 rounded-5 text-secondary shadow" style="width: 25rem">
        <div class="text-center fs-1 fw-bold">
            <i class="bi bi-person"></i> Register
        </div>

        <div class="input-group mt-4">
            <div class="input-group-text bg-warning">
                <i class="bi bi-person"></i>
            </div>
            <input class="form-control bg-light" type="text" placeholder="Name">
        </div>

        <div class="input-group mt-1">
            <div class="input-group-text bg-warning">
                <i class="bi bi-envelope"></i>
            </div>
            <input class="form-control bg-light" type="text" placeholder="eMail">
        </div>

        <div class="input-group mt-1">
            <div class="input-group-text bg-warning">
                <i class="bi bi-lock"></i>
            </div>
            <input class="form-control bg-light" type="password" placeholder="Password">
        </div>

        <div class="btn btn-warning text-dark w-100 mt-4 fw-semibold shadow">
            Register
        </div>

    </div>
</div>


</body>
</html>