<!-- Barra de navegacion -->
<nav class="navbar navbar-expand-lg navbar-dark shadow" style="background-color: #333366">
    <div class="container-fluid">
        <a class="navbar-brand mx-2" href="/home">
            <img src="{{ url_for('static', filename='imagenes/CSLogoM.png') }}" alt=""
                 class="d-inline-block align-text-top">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse align-center text-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link me-1" href="/home"><i class="bi bi-house-door"></i> Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link me-1" href="/importar-exportar"><i class="bi bi-file-earmark-zip"></i>
                        Importar/Exportar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mb-1" href="/about"><i class="bi bi-info-circle"></i> Acerca de</a>
                </li>
            </ul>
        </div>

        <div class="nav-item ms-3">
            <a href="/logout" class="btn btn-danger btn-sm" data-bs-toggle="popover" data-bs-trigger="hover focus"
               data-bs-content="Cerrar sesión"><i class="bi bi-x-lg"></i></a>
        </div>
    </div>

</nav>