<!-- Sub-barra de navegacion -->
<!-- Author: Claudia Landeira Viñuela -->
<nav class="navbar navbar-expand-lg navbar-light shadow rounded-bottom-4" style="background-color: #CE93D8">
    <div class="container-fluid mx-5">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <a class="navbar-brand me-3">
                <i class="bi bi-robot"></i> {{ chat }}
            </a>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link me-3"
                            href="{{ url_for('get_archivos', chat=chat) }}"><i class="bi bi-list"></i> Menu
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link me-3"
                            href="{{ url_for('get_agente', chat=chat) }}"><i class="bi bi-person-vcard"></i> Agente
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link me-3"
                            href="{{ url_for('get_entidades', chat=chat) }}"><i class="bi bi-at"></i> Entidades
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link me-3"
                            href="{{ url_for('get_intents', chat=chat) }}"><i class="bi bi-chat-dots"></i> Intents
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>