<!DOCTYPE html>
<html lang="es">
{% include 'comunes/cabecera.html' %}
<body>

<div class="sticky-top">
    {% include 'comunes/navbar.html' %}
    {% include 'comunes/subnavbar.html' %}
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h3 class="text-left"><i class="bi bi-person"></i> {{ usuario }} </h3>
        </div>
        <div class="col-auto justify-content-md-end mx-5">
            <form class="d-flex ms-5" role="search">
                <input class="form-control me-3" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-outline-dark rounded-circle" type="submit"><i class="bi bi-search"></i></button>
            </form>
        </div>
    </div>
</div>

<div class="container mt-5">

    <div class="row">
        <div class="col">
            <h1 class="text-left mb-4"><i class="bi bi-fingerprint"></i> {{ entidad.replace(".json", "") }}</h1>
        </div>
        <div class="col-auto justify-content-md-end mx-5">
            <a class="btn btn-dark rounded-circle" href="{{ url_for('editar_entidad', chat=chat, entidad=entidad) }}">
                <i class="bi bi-gear"></i></a>
        </div>
    </div>

    <div class="row mx-5">
        <div class="col mx-5">
            <div class="card border-warning mb-2 rounded-1 shadow">
                <div class="card-header border-warning bg-warning-subtle text-dark fw-bold bg-opacity-50"> name </div>
                <div class="card-body">
                    <p class="card-text"> {{ ent[0]['name'] }}</p>
                </div>
            </div>
        </div>
    </div>



    <div class="row mx-5">
        <div class="col mx-5">
            <div class="card border-warning mb-2 rounded-1 shadow">
                <div class="card-body">
                    <table class="table">
                        {% for e in ent[1] %}
                        {% for k, v in e.items() %}
                        <tbody>
                            <tr>
                                <th scope="row">{{ k }}</th>
                                <td class="text-left">{{ v | default('') | replace("[", '') | replace("]", '') | safe }}</td>
                            </tr>
                        </tbody>
                        {% endfor %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    {% include 'comunes/footer.html' %}
</div>
</body>
</html>