<!DOCTYPE html>
<html lang="es">
<head>
    {% include 'comunes/bootstrap.html' %}
    <meta charset="UTF-8">
    <title> DialogFlow Manager </title>
</head>
<body>

<div class="sticky-top">
    {% include 'comunes/navbar.html' %}
    {% include 'comunes/subnavbar.html' %}
</div>

<div class="container mx-5">
    <h3 class="text-left mt-5"><i class="bi bi-person"></i> {{ usuario }} </h3>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h1 class="text-left mb-4"><i class="bi bi-chat-dots"></i> {{ intent.replace(".json", "") }}</h1>
        </div>
        <div class="col-auto justify-content-md-end mx-5">
            <a class="btn btn-dark rounded-circle" href="{{ url_for('editar_intent', chat=chat, intent=intent) }}">
                <i class="bi bi-gear"></i></a>
        </div>
    </div>

    {% for k, v in inte[0].items() %}
    {% if k == 'name' or k == 'contexts' or k == 'responses' or k == 'priority' %}
    <div class="row mx-5">
        <div class="col mx-5">
            <div class="card border-warning mb-2 rounded-1 shadow">
                <div class="card-header border-warning bg-warning-subtle text-dark bg-opacity-50"> {{ k }}</div>
                <div class="card-body">
                    {% if k == 'responses' %}
                    <table class="table">
                        {% for c, val in v[0].items() %}
                        {% if c == 'action' or c == 'parameters' or c == 'messages'%}
                        <tbody>
                        <tr>
                            <th class="text-left"> {{ c }}</th>
                            <td class="text-left">{{ val }}</td>
                        </tr>
                        </tbody>
                        {% endif %}
                        {% endfor %}
                    </table>
                    {% else %}
                    <p class="card-text"> {{ v }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}

    {% for i in inte[1] %}

    <div class="row mx-5">
        <div class="col mx-5">
            <div class="card border-warning mb-2 rounded-1 shadow">
                <div class="card-body">
                    {% for k, v in i.items() %}
                    {% if k == 'data' or k == 'id' or k == 'isTemplate' %}

                    <div class="card border-warning mb-2 rounded-1">
                        <div class="card-header border-warning bg-warning-subtle text-dark bg-opacity-50">
                            {{ k }}
                        </div>
                        {% if v is iterable and v is not string %}
                        {% for c in v %}
                        <div class="card-body">
                            {%for kc, vc in c.items() %}
                            <table class="table d-flex">
                                <tbody>
                                <tr>
                                    <th class="text-left">{{ kc }}</th>
                                    <td class="text-left">{{ vc }}</td>
                                </tr>
                                </tbody>
                            </table>
                            {% endfor %}
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="card-body">
                            <p class="card-text"> {{ v }}</p>
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}
</div>

<div class="container mt-5">
    {% include 'comunes/footer.html' %}
</div>

</body>
</html>