<!DOCTYPE html>
<html lang="es">
{% include 'comunes/cabecera.html' %}
<body>

<div class="sticky-top">
    {% include 'comunes/navbar.html' %}
    {% include 'comunes/subnavbar.html' %}
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h3 class="text-left"><i class="bi bi-person"></i> {{ usuario }} </h3>
        </div>
        <div class="col-auto justify-content-md-end mx-5">
            <form class="d-flex ms-5" role="search">
                <input class="form-control me-3" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-outline-dark rounded-circle" type="submit"><i class="bi bi-search"></i></button>
            </form>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h1 class="text-left mb-4"><i class="bi bi-chat-dots"></i> Intent actual: {{ intent.replace(".json", "") }}
            </h1>
        </div>
        <div class="col-auto justify-content-md-end mx-5">
            <a class="btn btn-dark rounded-circle" href="{{ url_for('editar_intent', chat=chat, intent=intent) }}">
                <i class="bi bi-gear"></i></a>
        </div>
    </div>

    <div class="row mx-5">
        <div class="col mx-5">
            <div class="card border-warning mb-2 rounded-1 shadow">
                <div class="card-header border-warning bg-warning-subtle text-dark fw-bold bg-opacity-50"> name</div>
                <div class="card-body">
                    <p class="card-text">{{ inte[0]['name'] }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mx-5">
        <div class="col mx-5">
            <div class="card border-warning mb-2 rounded-1 shadow">
                <div class="card-header border-warning bg-warning-subtle text-dark fw-bold bg-opacity-50"> response
                </div>
                <div class="card-body">

                    <p class="text-left ms-5 fw-semibold"> {{ inte[0]['responses'][0]['action'] }} </p>

                    {% if inte[0]['responses'][0]['parameters'] %}
                    <table class="table table-auto">
                        <thead>
                        <tr>
                            <th class="text-center">name</th>
                            <th class="text-center">dataType</th>
                            <th class="text-center">value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="text-center"> {{ inte[0]['responses'][0]['parameters'][0]['name'] }}</td>
                            <td class="text-center"> {{ inte[0]['responses'][0]['parameters'][0]['dataType'] }}</td>
                            <td class="text-center"> {{ inte[0]['responses'][0]['parameters'][0]['value'] }}</td>
                        </tr>
                        </tbody>
                    </table>
                    {% else %}
                    <p class="text-left ms-5"> No existen parametros </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>



    <div class="row mx-5">
        <div class="col mx-5">
            <div class="card border-warning mb-2 rounded-1 shadow">
                <div class="card-header border-warning bg-warning-subtle text-dark fw-bold bg-opacity-50"> data
                </div>
                <div class="card-body">
                    {% for i in inte[1] %}
                    <div class="card border-warning mb-3 mx-2 rounded-1">
                        {% for j in i['data'] %}
                        <div class="card-body">
                            {% if j|length == 2 %}
                                <p class="text-left ms-5"> {{ j['text'] }} </p>
                            {% else %}
                                {% if j['meta'] %}
                                <table class="table table-auto">
                                    <thead>
                                    <tr>
                                        <th class="text-center">text</th>
                                        <th class="text-center">meta</th>
                                        <th class="text-center">alias</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="text-center"> {{ j['text'] }}</td>
                                        <td class="text-center"> {{ j['meta'] }}</td>
                                        <td class="text-center"> {{ j['alias'] }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                {% endif %}
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


</div>

<div class="container mt-5">
    {% include 'comunes/footer.html' %}
</div>

</body>
</html>
